.place__cart {
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: rgba(1, 1, 1, 0)
}

.place__cart:focus {
    outline: 0;
}