.header__logo {
    width: 142px;
    cursor: pointer;
    transition: .2s linear;
}

.header__logo:hover {
    opacity: 0.6;
}

@media all and (max-width: 1199px) {
    .header__logo {
        width: 103px;
        height: 24px;
    }
}

