.places {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, minmax(262px, 1fr));
    grid-gap: 21px 18px;
}

@media all and (max-width: 1024px) {
    .places {
        grid-template-columns: repeat(2, minmax(262px, 1fr));
    }
}

@media all and (max-width: 620px) {
    .places {
        grid-template-columns: minmax(262px, 1fr);
    }
}