.popup-card__close {
    position: absolute;
    top: -40px;
    right: -45px;
    background: rgba(0, 0, 0, 0);
    border: none;
    transition: .2s linear;
}

.popup-card__close:hover {
    opacity: 0.6;
    transform: rotate(45deg);
    cursor: pointer;
}

@media all and (max-width: 500px) {
    .popup-card__close {
        top: -30px;
        right: -30px;
        width: 30px;
        height: 30px;
        padding: 0;
    }
}