.header {
    padding: 45px 0 40px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media all and (max-width: 1199px) {
    .header {
        padding: 28px 0 31px;
    }
}