.popup__description {
    font-family: 'Inter', 'Arial', sans-serif;
    margin-bottom: 48px;
    border-width: 0 0 1px 0;
    padding-bottom: 13px;
}

.popup__description:focus {
    outline: none;
}

@media all and (max-width: 500px) {
    .popup__description {
        margin-bottom: 36px;
    }
}