.popup__header {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #000000;
    margin: 0 0 54px;
}

/* в макете не было адаптива для попапа, поэтому сделала по-своему */
@media all and (max-width: 500px) {
    .popup__header {
        font-size: 1.3rem;
        margin-bottom: 20px;
    }
}