.profile__add-button {
    max-width: 150px;
    display: flex;
    align-items: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 14px 64px;
}

.profile__add-button:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    opacity: 0.6;
}