.footer__text {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.12rem;
    line-height: 1.22;
    color: #545454;
}

@media all and (max-width: 1199px) {
    .footer__text {
        font-size: 0.8rem;
        line-height: 1.06;
    }
}