.popup__close {
    position: absolute;
    top: -50px;
    right: -50px;
    background: rgba(0, 0, 0, 0);
    border: none;
    transition: .2s linear;
}

.popup__close:hover {
    opacity: 0.6;
    transform: rotate(45deg);
    cursor: pointer;
}

/* в макете не было адаптива для попапа, поэтому сделала по-своему */
@media all and (min-width: 299px) and (max-width: 1199px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: 15px;
        right: 15px;
        background: black;
        border-radius: 3px;
        padding: 0;
    }
}