.profile__info-name {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.62rem;
    line-height: 1.33;
    color: #ffffff;
    margin: 0 17px 0 0;
}

@media all and (min-width: 299px) and (max-width: 1199px) {
    .profile__info-name {
        font-size: 1.68rem;
        line-height: 2.07;
        margin-right: 11px;
    }
}