.profile__info {
    max-width: 336px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media all and (min-width: 299px) and (max-width: 1199px) {
    .profile__info {
        justify-content: center;
    }
}