.profile__info {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media all and (min-width: 299px) and (max-width: 1199px) {
    .profile__info {
        justify-content: center;
    }
}