.profile__info-edit {
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    padding: 0px;
    transition: .2s linear;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
}

.profile__info-edit:hover {
    border: 1px solid rgba(255, 255, 255, 0.6);
    opacity: 0.6;
}

@media all and (min-width: 299px) and (max-width: 1199px) {
    .profile__info-edit {
        width: 20px;
        height: 20px;
    }
}