.popup__input {
    width: 100%;
    font-family: 'Inter', 'Arial', sans-serif;
    border-width: 0 0 1px 0;
    padding-bottom: 13px; 
    margin-bottom: 5px; 
}

.popup__input:focus {
    outline: none;
}