@import url(./__img/element__img.css);
@import url(./__like-name-wrap/element__like-name-wrap.css);
@import url(./__like/element__like.css);
@import url(./__name/elenemt__name.css);

.element {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
}