.profile__info-description {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-size: 1.12rem;
    line-height: 1.22;
    color: #ffffff;
    margin: 0;
}

@media all and (min-width: 299px) and (max-width: 1199px) {
    .profile__info-description {
        font-size: 0.87rem;
        line-height: 1.21;
        padding-top: 14px;
    }
}